<div class="title-rails">
   RAILS ASSIGNMENT SIGN UP 
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'layouts/messages' %>

  <div class="cust-1">
    <%= f.label :email %>
  </div>
  <div  class= 'cust-2'>
    <%= f.email_field :email,autofocus: true, autocomplete: 'email', class: "input_cust" %>
  </div>

  <div class="pass">
    <%= f.label :password %>
  </div>

<div  class= 'pass_field'>
    <%= f.password_field :password, autocomplete: 'current-password', class:  'input_cust' %>
</div>

<% if @minimum_password_length %>
    <small class="min_pass_field"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
<% end %>
 
<%= f.submit  "SIGN UP", class: 'log_in' %>

<% end %>

<%- if controller_name != 'sessions' %>
    <%= link_to t(".sign_in"), new_session_path(resource_name),class: 'logout_sign_up' %><br />
  <% end -%>
