
 <div class="title-rails">
    RAILS ASSIGNMENT 
 </div>
  <div class="title-rails-2">
WELCOME USER ! YOU ARE A (<%= current_user.roles.first.name.upcase  %>) 
</div>
 <%= form_tag scrape_path,method: :get do %>
     <div class = "field-label">ENTER URL</div>
     <div class= "rectangle">
        <%= text_field_tag :crawled_data, params[:crawled_data], placeholder: 
        "https://www.progton.com ", class: "input_cust" %>
     </div>

<%= link_to "Logout", destroy_user_session_path,class: "log_out btn btn-primary",method: :delete %>
      
        <%= button_tag type: :submit, class: "browse_btn btn btn-primary" do %>
          GET PHONE NUMBER AND EMAIL
        <% end %>
      


  <% end %>
  <div class="format">
<%= render 'layouts/table' %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to " DOWNLOAD CSV", download_data_path(format: :csv) ,class: "align-center download btn btn-primary" %>

</div>


<%= link_to 'Go Back', root_path %> |
<%= link_to 'Search Data', search_data_path %>