<div class="title-rails">
  RAILS ASSIGNMENT SIGN IN
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
  <div class="cust-1">
    <%= f.label :email %>
  </div>
  <div  class= 'cust-2'>
    <%= f.email_field :email, autocomplete: 'email', class: "input_cust" ,autofocus: true %>
  </div>
 <div class="pass">
    <%= f.label :password %>
  </div>
 
 <div  class= 'pass_field'>
    <%= f.password_field :password, autocomplete: 'current-password', class:  'input_cust' %>
</div>


    <%= f.submit  "SIGN IN", class: 'log_in' %>

<% end %>

 <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "SIGN UP", new_registration_path(resource_name), class: 'logout_sign_up' %>
    <% end -%>
 
